{{>header}}

<h1 class="friendTitle">Friends</h1>
<div class="wrapper">
  <table id="friendTable">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Telephone</th>
        <th>Email</th>
        <th>Status</th>
        <th>Remainded</th>
        <th>Edit</th>
      </tr>
    </thead>
    {{#each data}}
    <tr>
      <td>{{this.FirstName}}</td>
      <td>{{this.LastName}}</td>
      <td>{{this.Telephone}}</td>
      <td>{{this.Email}}</td>
      <td>{{this.Status}}</td>
      <td><input type="checkbox"></td>
      <td><button class="editbtn">Edit</button></td>
    </tr>
    {{/each}}
    <!-- <tr>
      <td>Jim</td>
      <td>Bob</td>
      <td>541-555-5523</td>
      <td>jbob@gmail.com</td>
      <td>Sick</td>
      <td><input type="checkbox"></td>
      <td><button class="editbtn">Edit</button></td>
    </tr>
    <tr>
      <td>Tina</td>
      <td>Mann</td>
      <td>541-555-5526</td>
      <td>tMann@gmail.com</td>
      <td>Heathy</td>
      <td><input type="checkbox"></td>
      <td><button class="editbtn">Edit</button></td>
    </tr>
    <tr>
      <td>Jane</td>
      <td>Strong</td>
      <td>541-555-5527</td>
      <td>jStrong@gmail.com</td>
      <td>Heathy</td>
      <td><input type="checkbox"></td>
      <td><button class="editbtn">Edit</button></td>
    </tr> -->
  </table>
  <button type="button" id="add-Friend">Add Friend</button>
</div>

  <div id="modal-backdrop" class="hidden"></div>
  <div id="modal" class="hidden">
    <div class="myModal">

      <div class="modal-header">
        <h3>Add a Friend</h3>
        <button type="button" id="modal-close" class="modal-hide-button">&times;</button>
      </div>
      <div class="modal-body">
        <div class="input">
          <label for="firstName">First Name</label>
          <input type="text" id="firstName" required></input>
        </div>
        <div class="input">
          <label for="lastName">Last Name</label>
          <input type="text" id="lastName" required></input>
        </div>
        <div class="input">
          <label for="telephone">Telephone</label>
          <input type="text" maxlength="10" minlength="10" id="telephone" required></input>
        </div>
        <div class="input">
          <label for="email">Email</label>
          <input type="text" id="email"></input>
        </div>
        <div class="input">
          <label for="status">Status</label>
          <select id="status" name="status">
            <option value="healthy">Healthy</option>
            <option value="Sick">Sick</option>
            <option value="hospital">Hospitalized</option>
            <option value="critical">Critical</option>
          </select>
        </div>
        <div class="input">
          <label for="Remainded">Remainded</label>
          <input type="checkbox" id="box"></input>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" id="modal-accept" class="action-button">Add Friend</button>
      </div>
    </div>
  </div>
